export(CNV450kSet,
  initialize,
  getManifest,
  getSummary,
  getSegments,
  findCNV,
  intersectCNV,
  subgroupDifference,
  predictSampleSexes,
  dropSNPprobes,
  normalize,
  segmentize,
  plotSample,
  plotSex,
  getColoring,
  plotDensity,
  plotPCA)
